__pycache__
venv/
.idea/
.ropeproject
**/.pytest_cache
*.h5f
*.pyc
**/.ipynb_checkpoints/
*.swp
.ipynb_checkpoints/
data/
Graph/
log/
PythonBroker.egg-info/

tensorboard/
build/
core
OLD_tensorboard

BrokerPython\.egg-info/
dist/